@using Microsoft.AspNetCore.Components

@if (!string.IsNullOrEmpty(Message))
{
    <div class="notification-banner @BannerType">
        @Message
    </div>
}

@code {
    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string BannerType { get; set; } = "info"; // Default type is "info"
}
