@page "/ClassRegistration"

<h1>This Is The Class Registration</h1>

<div class="classRegistrationArea">
    <div class="RegStudentInfo">
        <h2 class="RegStudentName">
            John Doe
        </h2>
        <h2>-</h2>
        <h2 class="RegStudentID">
            404682953
        </h2>
    </div>
    <div class="RegClassSelection">
        <h3 class="RegInstruction">
            The Following Courses Are Currently For Registration
        </h3>
        <formy>
            <input type="checkbox" id="CST8282" name="CST8282" value="CST8282">
            <label for="CST8282"> CST8282 Introduction To Database Systems - 4 hours per Week</label><br>
            <input type="checkbox" id="CST8253" name="CST8253" value="CST8253">
            <label for="CST8253"> CST8253 Web Programming II - 2 hours per Week</label><br>
            <input type="checkbox" id="CST8256" name="CST8256" value="CST8256">
            <label for="CST8256"> CST8256 Web Programming Languages I - 5 hours per Week</label><br>
            <input type="checkbox" id="CST8255" name="CST8255" value="CST8255">
            <label for="CST8255"> CST8255 Web Imaging And Animations - 2 hours per Week</label><br>
            <input type="checkbox" id="CST8254" name="CST8254" value="CST8254">
            <label for="CST8254"> CST8254 Network Operating Systems - 1 hour per Week</label><br>
            <input type="checkbox" id="CST2200" name="CST2200" value="CST2200">
            <label for="CST2200"> CST2200 Data Warehouse Designs - 3 hours per Week</label><br>
            <input type="checkbox" id="CST2240" name="CST2240" value="CST2240">
            <label for="CST2240"> CST2240 Advanced Database Topics - 1 hour per Week</label><br>
            <input type="submit" value="Register Student">
            <a class="Cancel" href="/">Cancel</a>
        </formy>
    </div>
</div>
