@page "/"


<PageTitle>Home</PageTitle>
<div class="GridHeader">
    <h1 class="Title">
        Student
    </h1>
<a href="/Registration" class="button">
    +
</a>
</div>
<ul class="StudentList">
    <ul class="GridTitle">
        <h1>
            ID
        </h1>
        <h1>
            First Name
        </h1>
        <h1>
            Last Name
        </h1>
        <h1>
            Type
        </h1>
        <h1>
            Action
        </h1>
    </ul>
    <ul class="Student">
        <ul class="StudentId">
            <h3>404682953</h3>
        </ul>
        <ul class="StudentFirstName">
            <h3>John</h3>
        </ul>
        <ul class="StudentLastName">
            <h3>Doe</h3>
        </ul>
        <ul class="StudentType">
            <h3>Full-Time</h3>
        </ul>
        <ul class="Action">
            <a href="/ClassRegistration">
                <h3>Register</h3>
            </a>
        </ul>
    </ul>
</ul>
